<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :placeholder => "ie. Kali - Web Server - 12/15/2014 - 12/22/2014" %>
  </div>
  <div class="field">
    <%= f.label :owner %><br>
    <%= f.text_field :owner, :placeholder => "Name of the original submitter of the report." %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, :placeholder => "Include the overall health of the server along with any system specific information." %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
